.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:black;
    color:white;
    text-align: center;
    width: 60%;
    height: 20.5em;
}

#news{
    height: 10em;
    width: 90%;
    overflow-wrap: break-word;
}

.navbar{
    background: black;
    margin: 0;
    padding: 0;
    height: 4.5em;

}

.navbar button{
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 25%;
    height: 50%;
    float: left;
    background-color: green;
    color:white;
}

.navbar button:hover{
    color:black;
    font-weight: bold;
}

#current{
    background-color: red;
}